<div class="chat-container">
  <h1 class="title">Atendimento on-line</h1>
  <div class="chat-messages-container">
    <div class="chat-messages">
      <div *ngFor="let message of messages" class="message" 
           [class.user-message]="message.sender === 'Usuário'" 
           [class.bot-message]="message.sender === 'Bot'">
        <span class="sender">{{ message.sender }}</span>
        <p>{{ message.text }}</p>
      </div>
    </div>
  </div>
  <div class="user-input">
    <input type="text" [(ngModel)]="newMessage" placeholder="Digite sua mensagem">
    <button (click)="sendMessage(newMessage)">Enviar</button>
  </div>
</div>
